<%= turbo_frame_tag id="robot_1" do %>
  <div class="board">
    <% 5.times do |row| %>
      <% 5.times do |col| %>
        <div class="square <%= robot.face %> <%= (row + col).even? ? 'light' : 'dark' %>"
            id="square_<%= row %>_<%= col %>">
            <% if row == robot.axis_y && col == robot.axis_x %>
              <div class="robot <%= robot.face %>"></div>
            <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>