<%= turbo_frame_tag(robot) do %>
  <div class="board">
    <% robot.board.width.times do |row| %>
      <% robot.board.height.times do |col| %>
        <div class="square <%= robot.face %> <%= BoardHelper.square_color(row, col) %>"
            id="square_<%= row %>_<%= col %>">
           <%= render_robot_if_present(robot, row, col) %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>